<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Página Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="/users/login" method="post" accept-charset="utf-8">
                <div>Para acessar seu perfil insira os dados para login:</div>
                <br />
                <div>Nome de Usuario:</div>
                <input type="text" name="nome" value="" required><br>
                <br />
                <div>Senha:</div>
                <input type="password" name="senha" value="" required><br>
                <br />
                <input type="submit" value="Entrar"><br><br>
            </form>
        </div>
    </body>
</html>